<div id="divider"></div>

<footer>
        <div class="all-baseboards">
            <div class="attendance">
                <h3>ATENDIMENTO ONLINE</h3>
                <a href="./sac.ejs" id="link">SAC</a>
            </div>
            <div class="contact">
                <h3>CONTATO</h3>
                <p>atendimentoweb@owlseye.com.br</p>
                <p>+55 (11) 98684-2073</p>
                <p>São Bernardo do Campo - SP</p>
            </div>
            <div class="follow-us">
                <h3>Siga a OwlsEye</h3>
                <ul class="social">
                    <li><a href="#"><img src="./images/logos/facebook.svg" width="27px" height="30px" id="face-is-initial" alt="Facebook"></a></li>
                    <li><a href="#"><img src="./images/logos/instagram.svg" width="30px" height="30px" alt="Instagram"></a></li>
                    <li><a href="#"><img src="./images/logos/twitter.svg" width="30px" height="30px" alt="Tweeter"></a></li>
                    <li><a href="#"><img src="./images/logos/whatsapp.svg" width="30px" height="30px" alt="WhatsApp"></a></li>
                </ul>
            </div>
        </div>
        <div class="allrights">
            <p>© 2020 OwlsEye - Todos os direitos reservados.</p>
            <p>Created by Guilherme Ribeiro</p>
        </div>
    </footer>