<header>

        <div id="header-topbar"></div>

        <center>
		<a href="/">
			<img src="./images/logos/OwlsEye-Icon.png" id="logo" alt="OwlsEye">
		</a>
	    </center>

        <input type="checkbox" id="bt_menu">
        <label for="bt_menu">&#9776;</label>

        <nav class="menu">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="./models.html" id="models">Modelos</a>
                    <ul>
                        <li><a href="./categories/male-model.html">Masculino</a></li>
                        <li><a href="./categories/female-model.html">Feminino</a></li>
                        <li><a href="./categories/childish-model.html">Infantil</a></li>
                    </ul>
                </li>
                <li><a href="./sac.html">SAC</a></li>
            </ul>
        </nav>
    </header>