<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="rgb(7, 7, 31)">
    <link rel="shortcut icon" href="/images/logos/OwlsEye-Icon.png" width="32px" height="32px" type="image/x-icon">
    <title>OwlsEye - Modelos</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    
    <header>

        <div id="header-topbar"></div>

        <a href="/"><img src="../images/logos/OwlsEye-Icon.png" id="logo" alt="OwlsEye"></a>

        <input type="checkbox" id="bt_menu">
        <label for="bt_menu">&#9776;</label>

        <nav class="menu">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="../models.html" id="models">Modelos</a>
                    <ul>
                        <li><a href="male-model.html">Masculino</a></li>
                        <li><a href="female-model.html">Feminino</a></li>
                        <li><a href="childish-model.html">Infantil</a></li>
                    </ul>
                </li>
                <li><a href="../sac.html">SAC</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="models">
            <h3>Aqui na OwlsEye você encontra os mais mais variados modelos dentre eles nós dividimos em...</h3>
            <div class="bg-gradient"></div>
            <div class="bg-gradient2"></div>

            <div class="box-style-model">
                <div id="box-male">
                    <div id="style-male">
                        <p class="male1">M</p>
                        <p class="male2">A</p>
                        <p class="male3">S</p>
                        <p class="male4">C</p>
                        <p class="male5">U</p>
                        <p class="male6">L</p>
                        <p class="male7">I</p>
                        <p class="male8">N</p>
                        <p class="male9">O</p>
                    </div>
                    
                    <a class="a-exposition-male" href="category/male-model.html">
                        <img src="images/exposition-male.jpg" class="img-exposition-male" height="300em" width="250px%" alt="Exposition Male">
                    </a>
        
                    <p class="description-male">Na OwlsEye você encontra os mais variados estilos de óculos. Uma série de opções para o seu estilo. <a href="category/male-model.html">Clique Aqui</a> para ter acesso aos nossos óculos de grau e sol para você, Homem Moderno e que exige alta qualidade</p>
                </div>

                <div id="box-female">
                    <div id="style-female">
                        <p class="female1">F</p>
                        <p class="female2">E</p>
                        <p class="female3">M</p>
                        <p class="female4">I</p>
                        <p class="female5">N</p>
                        <p class="female6">I</p>
                        <p class="female7">N</p>
                        <p class="female8">O</p>
                    </div>
    
                    <a class="a-exposition-female" href="category/female-model.html">
                        <img src="images/exposition-female.jpg" class="img-exposition-female" height="300em" width="250px%" alt="Exposition Female">
                    </a>
    
                    <p class="description-female">Aqui na OwlsEye levamos em conta a sutileza, delicadeza e a opnião de você, Mulher, que têm estilo próprio e que se preocupa com detalhes. Nossos óculos atendem alto padrão de qualidade, que vão superar sua expectativa. <a href="category/female-model.html">Clique Aqui</a> e acesse nossa seção exclusiva para mulheres</p>
                </div>

                <div id="box-childish">
                    <div class="text-sobreposition">
                        <a class="a-exposition-childish" href="category/childish-model.html">
                            <img src="images/exposition-childish.jpg" class="img-exposition-childish" alt="Exposition Childish">
                        </a>
                        
                        <div id="style-childish">
                            <p class="childish1">I</p>
                            <p class="childish2">N</p>
                            <p class="childish3">F</p>
                            <p class="childish4">A</p>
                            <p class="childish5">N</p>
                            <p class="childish6">T</p>
                            <p class="childish7">I</p>
                            <p class="childish8">L</p>
                        </div>
                    </div>

                    <p class="description-childish">Você mamãe e papai que se preocupa com a saúde ocular de seu filho, mas não abre mão do estilo e qualidade para seu pimpolho não pode deixar de acessar nossa seção kids. <a href="category/childish-model.html">Clique aqui e confira</a></p>
                </div>
            </div>
        </section>        
    </main>

    <div id="divider"></div>

    <footer>
        <div class="all-baseboards">
            <div class="attendance">
                <h3>ATENDIMENTO ONLINE</h3>
                <a href="/sac.html" id="link">SAC</a>
            </div>
            <div class="contact">
                <h3>CONTATO</h3>
                <p>atendimentoweb@owlseye.com.br</p>
                <p>+55 (11) 98684-2073</p>
                <p>São Bernardo do Campo - SP</p>
            </div>
            <div class="follow-us">
                <h3>Siga a OwlsEye</h3>
                <ul class="social">
                    <li><a href="#"><img src="../images/logos/facebook.svg" width="27px" height="30px" id="face-is-initial" alt="Facebook"></a></li>
                    <li><a href="#"><img src="../images/logos/instagram.svg" width="30px" height="30px" alt="Instagram"></a></li>
                    <li><a href="#"><img src="../images/logos/twitter.svg" width="30px" height="30px" alt="Tweeter"></a></li>
                    <li><a href="#"><img src="../images/logos/whatsapp.svg" width="30px" height="30px" alt="WhatsApp"></a></li>
                </ul>
            </div>
        </div>
        <div class="allrights">
            <p>© 2020 OwlsEye - Todos os direitos reservados.</p>
            <p>Created by Guilherme Ribeiro</p>
        </div>
    </footer>
</body>
</html>