<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="rgb(7, 7, 31)">
    <link rel="shortcut icon" href="/images/logos/OwlsEye-Icon.png" width="32px" height="32px" type="image/x-icon">
    <title>OwlsEye - Modelos | Feminino</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    
    <header>

        <div id="header-topbar"></div>

        <a href="/"><img src="../images/logos/OwlsEye-Icon.png" id="logo" alt="OwlsEye"></a>

        <input type="checkbox" id="bt_menu">
        <label for="bt_menu">&#9776;</label>

        <nav class="menu">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="../models.html" id="models">Modelos</a>
                    <ul>
                        <li><a href="male-model.html">Masculino</a></li>
                        <li><a href="female-model.html">Feminino</a></li>
                        <li><a href="childish-model.html">Infantil</a></li>
                    </ul>
                </li>
                <li><a href="../sac.html">SAC</a></li>
            </ul>
        </nav>
    </header>

    <main>        
    </main>

    <div id="divider"></div>

    <footer>
        <div class="all-baseboards">
            <div class="attendance">
                <h3>ATENDIMENTO ONLINE</h3>
                <a href="/sac.html" id="link">SAC</a>
            </div>
            <div class="contact">
                <h3>CONTATO</h3>
                <p>atendimentoweb@owlseye.com.br</p>
                <p>+55 (11) 98684-2073</p>
                <p>São Bernardo do Campo - SP</p>
            </div>
            <div class="follow-us">
                <h3>Siga a OwlsEye</h3>
                <ul class="social">
                    <li><a href="#"><img src="../images/logos/facebook.svg" width="27px" height="30px" id="face-is-initial" alt="Facebook"></a></li>
                    <li><a href="#"><img src="../images/logos/instagram.svg" width="30px" height="30px" alt="Instagram"></a></li>
                    <li><a href="#"><img src="../images/logos/twitter.svg" width="30px" height="30px" alt="Tweeter"></a></li>
                    <li><a href="#"><img src="../images/logos/whatsapp.svg" width="30px" height="30px" alt="WhatsApp"></a></li>
                </ul>
            </div>
        </div>
        <div class="allrights">
            <p>© 2020 OwlsEye - Todos os direitos reservados.</p>
            <p>Created by Guilherme Ribeiro</p>
        </div>
    </footer>
</body>
</html>