<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="rgb(7, 7, 31)">
    <link rel="shortcut icon" href="../images/logos/OwlsEye-Icon.png" width="32px" height="32px" type="image/x-icon">
    <title>OwlsEye - Modelos | Masculino</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>

    <header>

        <div id="header-topbar"></div>

        <center>
		<a href="/">
			<img src="../images/logos/OwlsEye-Icon.png" id="logo" alt="OwlsEye">
		</a>
	</center>

        <input type="checkbox" id="bt_menu">
        <label for="bt_menu">&#9776;</label>

        <nav class="menu">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="#" id="models">Modelos</a>
                    <ul>
                        <li><a href="../category/male-model.html">Masculino</a></li>
                        <li><a href="female-model.html">Feminino</a></li>
                        <li><a href="childish-model.html">Infantil</a></li>
                    </ul>
                </li>
                <li><a href="../sac.html">SAC</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="male-page">
            <div class="container">
                <div class="glasses">
                    <h1 id="aet">Acompanhe nossa linha de Óculos da Armani Exchange</h1>
                    <div id="gradient1"></div>
                    <div id="gradient2"></div>

                    <div id="AE">
                        <div id="1">
                            <img src="../images/AX3055L.jpg" width="495px" height="370px" alt="AX3055L">
                            <h2>ARMANI EXCHANGE - AX3055L</h2>
                            <h3>R$ 220,00</h3>
                            <h4>Em até 10x R$ 22,00 s/ juros</h4>
                            <h5>Ou com 5% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
        
                        <div id="2">
                            <img src="../images/AX3056L.jpg" width="495px" height="370px" alt="AX3056L">
                            <h2>ARMANI EXCHANGE - AX3056L</h2>
                            <h3>R$ 220,00</h3>
                            <h4>Em até 10x R$ 22,00 s/ juros</h4>
                            <h5>Ou com 10% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
        
                        <div id="3">
                            <img src="../images/AX1033.jpg" width="495px" height="370px" alt="AX1033">
                            <h2>ARMANI EXCHANGE - AX1033</h2>
                            <h3>R$ 250,00</h3>
                            <h4>Em até 10x R$ 25,00 s/ juros</h4>
                            <h5>Ou com 5% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
        
                        <div id="4">
                            <img src="../images/AX4080SL.jpg" width="495px" height="370px" alt="AX4080SL">
                            <h2>ARMANI EXCHANGE - AX4080SL</h2>
                            <h3>R$ 230,00</h3>
                            <h4>Em até 10x R$ 23,00 s/ juros</h4>
                            <h5>Ou com 3% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
        
                        <div id="5">
                            <img src="../images/AX4079SL.jpg" width="495px" height="370px" alt="AX4079SL">
                            <h2>ARMANI EXCHANGE - AX4079SL</h2>
                            <h3>R$ 260,00</h3>
                            <h4>Em até 10x R$ 26,00 s/ juros</h4>
                            <h5>Ou com 7% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
        
                        <div id="6">
                            <img src="../images/AX4049SL.jpg" width="495px" height="370px" alt="AX4049SL">
                            <h2>ARMANI EXCHANGE - AX4049SL</h2>
                            <h3>R$ 235,00</h3>
                            <h4>Em até 10x R$ 23,50 s/ juros</h4>
                            <h5>Ou com 3% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
                    </div>
    
                    <h1>Ray-Ban</h1>
                    <div id="gradient1"></div>
                    <div id="gradient2"></div>

                    <div id="RB">
                        <div id="7">
                            <img src="../images/RB7134L.jpg" width="495px" height="370px" alt="RB7134L">
                            <h2>RAY-BAN - RB7134L</h2>
                            <h3>R$ 160,00</h3>
                            <h4>Em até 10x R$ 16,00 s/ juros</h4>
                            <h5>Ou com 10% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
    
                        <div id="8">
                            <img src="../images/RB7047.jpg" width="495px" height="370px" alt="RB7047">
                            <h2>RAY-BAN - RB7047</h2>
                            <h3>R$ 150,00 </h3>
                            <h4>Em até 10x R$ 15,00 s/ juros</h4>
                            <h5>Ou com 9% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
    
                        <div id="9">
                            <img src="../images/RB7136L.jpg" width="495px" height="370px" alt="RB7136L">
                            <h2>RAY-BAN - RB7136L</h2>
                            <h3>R$ 165,00</h3>
                            <h4>Em até 10x R$ 16,50 s/ juros</h4>
                            <h5>Ou com 10% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
    
                        <div id="10">
                            <img src="../images/AVIATOR CLASSIC.jpg" width="495px" height="370px" alt="AVIATOR CLASSIC">
                            <h2>RAY-BAN - AVIATOR CLASSIC</h2>
                            <h3>R$ 120,00</h3>
                            <h4>Em até 10x R$ 12,00 s/ juros</h4>
                            <h5>Ou com 6% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
    
                        <div id="11">
                            <img src="../images/BLAZE AVIATOR.jpg" width="495px" height="370px" alt="BLAZE AVIATOR">
                            <h2>RAY-BAN - BLAZE AVIATOR</h2>
                            <h3>R$ 140,00</h3>
                            <h4>Em até 10x R$ 14,00 s/ juros</h4>
                            <h5>Ou com 7% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
    
                        <div id="12">
                            <img src="../images/AVIATOR LARGE METAL II.jpg" width="495px" height="370px" alt="AVIATOR LARGE METAL II">
                            <h2>RAY-BAN - AVIATOR LARGE METAL II</h2>
                            <h3>R$ 130,00</h3>
                            <h4>Em até 10x R$ 13,00 s/ juros</h4>
                            <h5>Ou com 4% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
                    </div>

                    <h1>Oakley</h1>
                    <div id="gradient1"></div>
                    <div id="gradient2"></div>

                    <div id="O">
                        <div id="13">
                            <img src="../images/CHAMBER.jpg" width="495px" height="370px" alt="CHAMBER">
                            <h2>OAKLEY - CHAMBER</h2>
                            <h3>R$ 315,00</h3>
                            <h4>Em até 10x R$ 31,50 s/ juros</h4>
                            <h5>Ou com 9% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
    
                        <div id="14">
                            <img src="../images/PLANK 2.0.jpg" width="495px" height="370px" alt="PLANK 2.0">
                            <h2>OAKLEY - PLANK 2.0</h2>
                            <h3>R$ 330,00</h3>
                            <h4>Em até 10x R$ 33,00 s/ juros</h4>
                            <h5>Ou com 9% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
    
                        <div id="15">
                            <img src="../images/CHAMFER MNP.jpg" width="495px" height="370px" alt="CHAMFER MNP">
                            <h2>OAKLEY - CHAMFER MNP</h2>
                            <h3>R$ 340,00</h3>
                            <h4>Em até 10x R$ 34,00 s/ juros</h4>
                            <h5>Ou com 9% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
    
                        <div id="16">
                            <img src="../images/SIPHON.jpg" width="495px" height="370px" alt="SIPHON">
                            <h2>OAKLEY - SIPHON</h2>
                            <h3>R$ 305,00</h3>
                            <h4>Em até 10x R$ 30,50 s/ juros</h4>
                            <h5>Ou com 6% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
    
                        <div id="17">
                            <img src="../images/SPLIT SHOT.jpg" width="495px" height="370px" alt="SPLIT SHOT">
                            <h2>OAKLEY - SPLIT SHOT</h2>
                            <h3>R$ 299,99</h3>
                            <h4>Em até 10x R$ 29,99 s/ juros</h4>
                            <h5>Ou com 4% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
    
                        <div id="18">
                            <img src="../images/LATCH BETA.jpg" width="495px" height="370px" alt="LATCH BETA">
                            <h2>OAKLEY - LATCH BETA</h2>
                            <h3>R$ 310,00</h3>
                            <h4>Em até 10x R$ 31,50 s/ juros</h4>
                            <h5>Ou com 9% de desconto á vista</h5>
                            <button class="myButton">COMPRAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    </main>

    <div id="divider"></div>

    <footer>
        <div class="all-baseboards">
            <div class="attendance">
                <h3>ATENDIMENTO ONLINE</h3>
                <a href="/sac.html" id="link">SAC</a>
            </div>
            <div class="contact">
                <h3>CONTATO</h3>
                <p>atendimentoweb@owlseye.com.br</p>
                <p>+55 (11) 98684-2073</p>
                <p>São Bernardo do Campo - SP</p>
            </div>
            <div class="follow-us">
                <h3>Siga a OwlsEye</h3>
                <ul class="social">
                    <li><a href="#"><img src="../images/logos/facebook.svg" width="27px" height="30px" id="face-is-initial" alt="Facebook"></a></li>
                    <li><a href="#"><img src="../images/logos/instagram.svg" width="30px" height="30px" alt="Instagram"></a></li>
                    <li><a href="#"><img src="../images/logos/twitter.svg" width="30px" height="30px" alt="Tweeter"></a></li>
                    <li><a href="#"><img src="../images/logos/whatsapp.svg" width="30px" height="30px" alt="WhatsApp"></a></li>
                </ul>
            </div>
        </div>
        <div class="allrights">
            <p>© 2020 OwlsEye - Todos os direitos reservados.</p>
            <p>Created by Guilherme Ribeiro</p>
        </div>
    </footer>
</body>
</html>